$gray_hue_01: #edeff1;
$text_dark_blue: #31353e;
$orange: #dd4b2b;

$maxWidth: 2000;

@mixin adaptiv-font($pcSize, $mobSize) {
	$addSize: $pcSize - $mobSize;
	$maxWidth: $maxWidth - 320;
	font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

@mixin adaptivHpadding ($pcLeft, $pcRight, $mobLeft, $mobRight) {
    $maxWidth: $maxWidth - 320;
    $addLeft: $pcLeft - $mobLeft;
    $addRight: $pcRight - $mobRight;

    padding-left: calc(#{$mobLeft + px} + #{$addLeft} * ((100vw - 320px) / #{$maxWidth}));

    padding-right: calc(#{$mobRight + px} + #{$addRight} * ((100vw - 320px) / #{$maxWidth}));
}

@mixin adaptivVpadding ($pcTop, $pcBottom, $mobTop, $mobBottom) {
    $maxWidth: $maxWidth - 320;
    $addTop: $pcTop - $mobTop;
    $addBottom: $pcBottom - $mobBottom;

    padding-top: calc(#{$mobTop + px} + #{$addTop} * ((100vw - 320px) / #{$maxWidth}));

    padding-bottom: calc(#{$mobBottom + px} + #{$addBottom} * ((100vw - 320px) / #{$maxWidth}));
}

@mixin adaptiv-width ($pcWidth, $mobWidth) {
    $maxWidth: $maxWidth - 320;
    $addWidth: $pcWidth - $mobWidth;
    width: calc(#{$mobWidth + px} + #{$addWidth} * ((100vw - 320px) / #{$maxWidth}));
}

html, body {
    padding: 0;
    margin: 0;
    background-color: $gray_hue_01;
    position: relative;
    z-index: -10;
    width: 100%;
}

* {
    box-sizing: border-box;
    font-family: 'Roboto Slab', sans-serif;
    line-height: 0.72222222;
}

button {
    outline: none;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 415/2000*100%;
    padding-top: 0;
    padding-bottom: 0;
    align-items: center;
    flex-wrap: nowrap;
    color: $text_dark_blue;
    min-height: 75px;
}

.nav_bar {
    flex-shrink: 0;
    //flex-grow: 1;

    ul {
        list-style-type: none;
        padding-left: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        flex-wrap: nowrap;

        li {
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-size: 18px;
            margin: 0 2.25%;
        }

        li:last-child {
            margin-right: 0;
        }

        li:first-child {
            margin-left: 0;
        }
    }
}

.active {
    color: $gray_hue_01;
    padding: 18/620*100% 24/620*100%;
    background-color: $orange;
    border-radius: 30px;
}

.comment {
    margin: 0;
    color: $orange;
    font-size: 16px;
    font-weight: 300;
}

.logo {
    font-size: 36px;
    color: $text_dark_blue;
    text-transform: capitalize;
    margin: 0 0 9px 0;
    font-weight: bold;
}

.banner {
    position: relative;
    padding-top: 489px;
    text-align: center;

    h1 {
        color: white;
        font-size: 72px;
        font-weight: 300;
        margin-top: 0;
        margin-bottom: 25/2000*100%;
    }

    .title {
        color: white;
        margin-top: 30/2000*100%;
    }

}

.title {
    font-size: 30px;
    font-weight: 500;
    margin-top: 30px;
}

.background {
    position: absolute;
    width: 100%;
    z-index: -2;
    top: 0;
    left: 0;
    height: 100%;
}

.menu_list {
    margin-top: 130/2000*100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    flex-wrap: nowrap;
    padding: 0 415/2000*100%;
}

.menu__item {
    flex-basis: 30%;
    padding: 0 0.5%;
    flex-grow: 1;

    .main_text {
        color: white;
    }

    img {
        width: 148/351*100%;
    }
}

.main_text {
    font-size: 15px;
    font-weight: 300;
    line-height: 2;
    margin: 0;
}

.button {
    margin-top: 80/2000*100%;

    a {
        display: inline-block;
        font-size: 18px;
        text-decoration: none;
        color: #612316;
        background-color: #fff;
        padding: 19px 60px;
        border-radius: 30px;
        font-weight: 400;
    }
}

.news {
    padding: 82/2000*100% 415/2000*100% 104/2000*100%;
    text-align: center;

    h2 {
        font-size: 30px;
        margin-top: 0;
        margin-bottom: 85/2000*100%;
    }
}

.news__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.news__item {
    flex-basis: 371/1170*100%;
    min-width: 300px;

    .title {
        margin: 40/370*100% 0 19/370*100%;
    }

    .main_text {
        margin-bottom: 40/370*100%;
    }

    img {
        width: 100%;
    }
}

.read_more {
    display: inline-block;
    padding: 20/370*100% 55/370*100%;
    text-decoration: none;
    background-color: #fff;
    color: #4e5159;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 15px;
    border-radius: 25.5px;
}

.newsletter {
    position: relative;
    text-align: center;
    padding: 93/2000*100% 738/2000*100% 0;

    h2 {
        margin-top: 0;
        color: white;
        text-transform: capitalize;
        letter-spacing: 1px;
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 23/524*100%;
    }

    .main_text {
        font-family: 'Roboto', sans-serif;
        color: white;
        margin-bottom: 42/524*100%;
        font-size: 15px;
    }
}

.input {
    background-color: rgba(#f1f2f4, 0.2);
    width: 510/524*100%;
    margin: 0 auto;
    border: 1px solid #c7c7c5;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 35/510*100%;
    
    input {
        background: none;
        border: none;
        font-size: 18px;
        color: white;
        outline: none;
        letter-spacing: 0.75px;
        flex-grow: 1;
    }

    ::-webkit-input-placeholder {color:white;}
    ::-moz-placeholder          {color:#fff;}/* Firefox 19+ */
    :-moz-placeholder           {color:#fff;}/* Firefox 18- */
    :-ms-input-placeholder      {color:#fff;}    

    button {
        color: #612316;
        border: none;
        background-color: white;
        padding: 19px 75px;
        border-radius: 30px;
        font-size: 18px;
        box-shadow: none;
    }
}

.product_details {
    background-color: #fff;
    padding: 65/2000*100% 371/2000*100% 87/2000*100% 373/2000*100%;
}

.product {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
        color: #191b29;
    }

    img {
        width: 588/1256*100%;
    }

    .title {
        margin-bottom: 25/628*100%;
    }
}

.product__01 {
    flex-direction: row-reverse;
    margin-bottom: 52/1254*100%;

    .info__container {
        margin-right: 40/1256*100%;
        padding-left: 42/1254*100%;
    }

    .sign__up {
        background-color: $orange;
    }
}

.product__02 {
    flex-direction: row;

    .info__container {
        padding-left: 42/1254*100%;
        margin-right: 40/1256*100%;
    }

    .sign__up {
        background-color: #4b4e73;
    }
}

.description {
    font-family: 'Roboto', sans-serif;
    line-height: 2;
    margin-bottom: 40/628*100%;
}

.sign__up {
    border: none;
    box-shadow: none;
    padding: 20/628*100% 70/628*100% 20/628*100% 75/628*100%;
    font-size: 18px;
    border-radius: 30px;
    color: white; 
}

.categories {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 100/2000*100% 415/2000*100% 80/2000*100%;
    background-color: #d75d0e;
    align-items: flex-start;
    flex-wrap: wrap;
}

.categories__column {
    flex-basis: 370/1170*100%;
    text-align: center;
}

.category {
    display: block;
    font: 18px 'Roboto', sans-serif;
    line-height: 1;
    margin-bottom: 23/370*100%;
    color: white;
}

.category:last-child {
    margin-bottom: 0;
}

.bottom__image {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    padding: 0 650/2000*100%;

    p {
        font-size: 18px;
        color: rgba(white, 0.8);
        font-family: 'Roboto', sans-serif;
        margin: 0;
        line-height: normal;
        font-weight: 100;
    }

    .PS {
        margin-top: 9/700*100%;

        a {
            text-decoration: none;
            color: rgba(white, 0.9);
            font-weight: 500;
            font-family: 'Roboto', sans-serif;
        }
    }
}
